/* 
 table {
    position: relative;
    height: 230px !important;
  }
  thead th:nth-child(1) {
    position: relative;
    display: block; 
    background-color: #88b;
  }
  tbody tr td:nth-child(1) {  
    position: relative;
    display: block; 
    height: 40px;
    background-color: #99a;
  }
  .table-fixed tbody {
    height: 230px !important;
    overflow-y: auto;
    width: 100%;

  } */
